<!DOCTYPE html>
<html>
<head>
	<title>EasyClick</title>
	
	<meta charset="UTF-8">
	<meta name="description" content="Useful cps test with easy to click area.">
	<meta name="author" content="zackdcat">

	<!-- LINKS -->
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<script async src="//www.ezojs.com/ezoic/sa.min.js"></script>
	<script>
		window.ezstandalone = window.ezstandalone || {};
		ezstandalone.cmd = ezstandalone.cmd || [];
	</script>
	<meta name="ezoic-site-verification" content="585tRD0zl7UW4vZHllTwaIbkJ99BMj"/>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
	<!-- TITLE -->
	<h1 class="TITLE">EasyClick</h1>

	<!-- CLICKING AREA -->
	<div id="CLICKINGAREA" onclick="CLICK()">
		<p id="CLICKINGAREATEXT">
			CLICK ME
		</p>
	</div>

	<div class="links">
		<a href="https://www.youtube.com/zackdcats">
			<img class="link-icon" src="/images/youtube-circle.png" alt="">
		</a>
		<a href="https://modrinth.com/user/zackdcat">
			<img class="link-icon" src="/images/modrinth.png" alt="">
		</a>
		<a href="https://github.com/zackdcat/easyclick">
			<img class="link-icon" src="/images/github.png" alt="">
		</a>
		<a href="https://ko-fi.com/zackdcat">
			<img class="link-icon" src="/images/ko-fi.png" alt="">
		</a>
		<a href="mailto:zwhseton@gmail.com">
			<img class="link-icon" src="/images/email.png" alt="">
		</a>
	</div>

    <div class="SocialsPosition">
        <div class="Socials">
            <a class="SocialsLink" href="https://www.youtube.com/zackdcats">Youtube</a>
            <a class="SocialsLink" href="https://modrinth.com/user/zackdcat">Modrinth</a>
            <a class="SocialsLink" href="https://github.com/zackdcat/easyclick">GitHub</a>
            <a class="SocialsLink" href="https://ko-fi.com/zackdcat">Ko-fi</a>
            <a class="SocialsLink" href="mailto:zwhseton@gmail.com">Email Me</a>
        </div>
    </div>


	<!-- <div id="ezoic-pub-ad-placeholder-101"></div>
	<script>
		ezstandalone.cmd.push(function () {
			ezstandalone.showAds(101);
		});
	</script>
	<script data-cfasync="false" src="https://cmp.gatekeeperconsent.com/min.js"></script>
	<script data-cfasync="false" src="https://the.gatekeeperconsent.com/cmp.min.js"></script> -->
	<script src="/javascripts/index.js"></script>
</body>
</html>
