<!DOCTYPE html>
<html>
<head>
	<title>EasyClick</title>
	
	<meta charset="UTF-8">
	<meta name="description" content="Useful cps test with easy to click area.">
	<meta name="author" content="zackdcat">

	<!-- LINKS -->
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
	<!-- TITLE -->
	<h1 class="TITLE">EasyClick</h1>

	<!-- CLICKING AREA -->
	<div id="CLICKINGAREA" onclick="CLICK()">
		<p id="CLICKINGAREATEXT">
			CLICK ME
		</p>
	</div>

	<div class="links">
		<a href="https://www.youtube.com/@zackdcats">
			<img class="link-icon" src="/images/youtube-circle.png" alt="">
		</a>
		<a href="https://modrinth.com/user/zackdcat">
			<img class="link-icon" src="/images/modrinth.png" alt="">
		</a>
		<a href="https://github.com/zackdcat/easyclick">
			<img class="link-icon" src="/images/github.png" alt="">
		</a>
		<a href="https://ko-fi.com/zackdcat">
			<img class="link-icon" src="/images/ko-fi.png" alt="">
		</a>
		<a href="mailto:zwhseton@gmail.com">
			<img class="link-icon" src="/images/email.png" alt="">
		</a>
	</div>

	<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
	<script>
		kofiWidgetOverlay.draw('zackdcat', {
			'type': 'floating-chat',
			'floating-chat.donateButton.text': 'Ko-fi',
			'floating-chat.donateButton.background-color': '#5cb85c',
			'floating-chat.donateButton.text-color': '#fff'
		});
	</script>
	<script src="/javascripts/index.js"></script>
</body>
</html>
