body {
	font-family: "Archivo Black", sans-serif;
	border: 0;
}

.archivo-black-regular {
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}


.TITLE {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	top: -30px;
	font-size: 75px;
	user-select: none;
}

#CLICKINGAREA {
	position: absolute;
	width: 99vw;
	height: /* clamp(400px,  */75vh/* , 600px) */;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
	user-select: none;
}

#CLICKINGAREATEXT {
	position: absolute;
	font-size: 60px;
	color: white;
	user-select: none;
	user-select: none;
}

.links {
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -3;
}

.link-icon {
	width: 80px;
	height: auto;
	margin: 10px;
	z-index: -3;
	user-select: none;
}

/* Socials */
.SocialsPosition {
    position: absolute;
    top: 800px;
    left: 2vw;
}

.Socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top: 21.5vw;
    left: 2vw;
}

.SocialsLink {
    margin: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1.9vw;
    padding-right: 4vw;
    background-color: #000000;
    color: #fff;
    border-radius: 1vw;
    font-size: 2.9vw;
	opacity: 0;
	display: none;
}

@media (max-width: 1100px) {
	.link-icon {
		opacity: 0;
		display: none;
	}

	.SocialsLink {
		opacity: 1;
		display: block;
	}
}

@media (max-width: 1500px) {
    .Socials {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .SocialsLink {
        margin: 1vw;
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
        padding-left: 2vw;
        padding-right: 10.25vw;
        border-radius: 1.5vw;
        font-size: 3.55vw;
    }
}
@media (max-width:700px) {
    .Socials {
        /* opacity: 0; */
        grid-template-columns: 1fr 1fr;
    }
    .SocialsLink {
        margin: 1vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 3vw;
        padding-right: 13vw;
        border-radius: 2vw;
        font-size: 6vw;
    }
    .LastName {
        left: 22.5vw;
        font-size: 7.5vw;
        top: 2vw;
    }
    .Subtitle {
        top: 8vw;
    }
    .Split {
        top: 13vw;
    }
}
