body {
	font-family: "Archivo Black", sans-serif;
	border: 0;
}
.archivo-black-regular {
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.TITLE {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	top: -30px;
	font-size: 75px;
	user-select: none;
}
#CLICKINGAREA {
	position: absolute;
	width: 99vw;
	height: 660px;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
	user-select: none;
}
#CLICKINGAREATEXT {
	position: absolute;
	font-size: 60px;
	color: white;
	user-select: none;
	user-select: none;
}
.links {
	position: absolute;
	top: 790px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -3;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
}
.link-icon {
	width: 70px;
	height: auto;
	margin: 5px;
	z-index: -3;
	user-select: none;
}
